/* Main holder */
.holder {
    margin:  auto;
    width: 600px;
    border: solid black;
}

/* Text */
.title {
    margin:  auto;
    text-align: center;
    padding: 5px;
}

/* Form */
.submission-form {
    padding: 5px;
    margin:  auto;
    text-align: center;
}